@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.big-container {
  padding: 100px 100px 0px 100px;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
}

ul {
  list-style-type: none;
}

li {
    font-family: futura-pt;
    color: #999999;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
}

.header-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 30px;
}

h1 {
    font-family: futura-pt;
    font-weight: 600;
    font-style: normal;
    color: #707070;
}

.current-nav {
  color: #111;
}

.book-img {
  height: 300px;
  width: auto;
}